{% extends "base.html" %}

{% block content %}
<div class="container" style="margin-top: 8%;">
    <form>
        <label class="labels">Input Text</label><br>
        <div class="textarea_style">
            <textarea class="textarea" id="input_textarea" name="textarea_description" rows="23" cols="80" minlength="3" placeholder="Enter the text here..."></textarea>
        </div>
    </form>
</div>
<div id="file_input" class="file_input">
    <label class="labels" for="inputfile">Or Upload a Text File:</label>
    <input type="file" name="inputfile" id="inputfile" class="inputfile">
</div>
<div class="size_input">
    <label class="labels" for="summary_size">Summary Size:</label>
    <input type="range" class="summary_size" id="summary_size" name="summary_size" min="0" max="100">
    <input type="button" onclick="getSummary()" value="Summarize">
</div>
<div class="container">
    <form>
        <label class="labels">Summary</label><br>
        <div class="textarea_style">
            <textarea readonly class="textarea" id="output_textarea" name="textarea_description" rows="23" cols="80" minlength="3" placeholder="Your summary will appear here..."></textarea>
        </div>
    </form>
</div>
<div id="file_download" class="file_download">
    <input type="button" id="download_button" value="Download Summary"/>
</div>
{% endblock %}