{% extends "base.html" %}

{% block content %}
<div class="container">
    <form>
        <label class="labels">Input Text</label><br>
        <div class="textarea_style">
            <textarea class="textarea" id="input_textarea" onkeyup="charCount();" name="textarea_description" rows="23" cols="80" maxlength="10000" minlength="3" placeholder="Enter the text here..."></textarea>
        </div>
        <span class="textarea_count">0/10000 (Max Character 10000)</span>
    </form>
</div>
<div>
    <label for="summary_size">Required Summary Size (As a percentage of original text):</label>
    <input type="range" id="summary_size" name="summary_size" min="0" max="100">
</div>
<div>
    <input type="button" onclick="getSummary()" value="submit">
</div>
<div class="container">
    <form>
        <label class="labels">Summary</label><br>
        <div class="textarea_style">
            <textarea class="textarea" id="output_textarea" onkeyup="charCount();" name="textarea_description" rows="23" cols="80" maxlength="10000" minlength="3" placeholder="Enter the text here..."></textarea>
        </div>
        <span class="textarea_count">0/10000 (Max Character 10000)</span>
    </form>
</div>
{% endblock %}