{% extends "base.html" %} {% block content %}
<div class="container">
    <form>
        <label class="labels">Input Text:</label><br>
        <textarea class="textarea" id="input_textarea" name="textarea_description" minlength="3" placeholder="Enter the text here..."></textarea>
        <div id="file_input" class="file_input">
            <label class="labels" for="inputfile" id="ugh">Or Upload a Text File: </label>
            <input type="file" name="inputfile" id="inputfile" class="inputfile">
        </div>
        <div id="url_input" class="url_input">
            <label class="labels" for="inputurl" id="ugh">Or Enter the Article Link: </label>
            <input type="text" name="inputurl" id="inputurl" class="inputurl">
            <input type="button" onclick="extractText()" value="Extract Text" id="urlbutton">
        </div>
    </form>
</div>
<div class="size_input">
    <label class="sliderLabel" for="summary_size">Summary Size:</label>
    <input type="range" class="summary_size" id="summary_size" name="summary_size" min="0" max="100">
    <input type="button" onclick="getSummary()" value="Summarize" id="summaryBtn">
</div>
<div class="container">
    <form>
        <label class="labels">Summary:</label><br>
        <textarea readonly class="textarea" id="output_textarea" name="textarea_description" minlength="3" placeholder="Your summary will appear here..."></textarea>
    </form>
</div>
<div id="file_download" class="file_download">
    <input type="button" id="download_button" value="Download Summary" />
</div>
{% endblock %}